body{background:#ECF0F1}

/*뻉뺑이*/
.load{
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width:50px;
    height:50px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
    0%,100%{transform:translate(0)}
    25%{transform:translate(160%)}
    50%{transform:translate(160%, 160%)}
    75%{transform:translate(0, 160%)}
}

/*안내문*/
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    margin:0px;
    font-family:'Roboto';
    text-align:center;
}

#container {
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    padding-top:200px;
    position:fixed;
    width:100%;
    bottom:80%;
    display:contents;
}

#flip {
    height:50px;
    overflow:hidden;
}

#flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background:#42c58a;
}
#flip div:first-child div {
    background:#4ec7f3;
}
#flip div:last-child div {
    background:#DC143C;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}

p {
    position:fixed;
    width:100%;
    bottom:30px;
    font-size:12px;
    color:#999;
    margin-top:200px;
}

/*갤러리*/
h1{
    font-family: Satisfy;
    font-size:50px;
    text-align:center;
    color:black;
    padding:1%;
}
#gallery{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;

    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
}
@media (max-width:1200px){
    #gallery{
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;

        -webkit-column-gap:20px;
        -moz-column-gap:20px;
        column-gap:20px;
    }
}
@media (max-width:800px){
    #gallery{
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;

        -webkit-column-gap:20px;
        -moz-column-gap:20px;
        column-gap:20px;
    }
}
@media (max-width:600px){
    #gallery{
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
}
#gallery img,#gallery video {
    width:100%;
    height:auto;
    margin: 4% auto;
    box-shadow:-3px 5px 15px #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.modal-img,.model-vid{
    width:100%;
    height:auto;
}
.modal-body{
    padding:0px;
}
